on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest # FIXME pin OS versions in matrix
    steps:
      - uses: actions/checkout@v6
      - name: Run tests
        run: cargo test --workspace
